.nav a{
	text-decoration: none;
	color: #34e91d;
	padding: 5px 20px;
	border-radius: 10px;
	
}
.nav a:hover
{
	background-color: #074066;
	color: #fff;
}

/*.card {
	margin-left: 10px;
	margin-right: 10px
  }
.nav{
	max-width: auto;
	margin-top: 10px;
}  
.nav a{
	text-decoration: none;
	color: #34e91d;
	text-transform: uppercase;
	padding: 5px 20px;
	border-radius: 10px;
	font-family: "montserrat";
}
.nav a:hover
{
	background-color: #074066;
	color: #fff;
}*/