<div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="index1.html">
          <img src="assets/images/logo.svg" alt="logo" /> </a>
  
        <a class="navbar-brand brand-logo-mini" href="index1.html">
          <img src="assets/images/logo-mini.svg" alt="logo" /> </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
  
            <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown"
              aria-expanded="false">
               <i class="fa fa-bell-o" aria-hidden="true"></i>
              <span class="count">7</span>
            </a>
  
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
              aria-labelledby="messageDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                  <p class="font-weight-light small-text"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                  <p class="font-weight-light small-text"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                  <p class="font-weight-light small-text"> The meeting is cancelled </p>
                </div>
              </a>
            </div>
          </li>
  
          
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <span class="count bg-success">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
              aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-alert m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                  <p class="font-weight-light small-text mb-0"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-settings m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                  <p class="font-weight-light small-text mb-0"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-airballoon m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                  <p class="font-weight-light small-text mb-0"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          
  
          <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-md rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold">Vicky</p>
                <p class="font-weight-light text-muted mb-0">vignesharun619@gmail.com</p>
              </div>
              <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i
                  class="dropdown-item-icon ti-dashboard"></i></a>
              <a class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
            </div>
          </li>
  
        </ul>
      </div>
    </nav>
  
  
  
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="profile-image">
                <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
                <div class="dot-indicator bg-success"></div>
              </div>
              <div class="text-wrapper">
                <p class="profile-name">User Name</p>
                <p class="designation">Premium user</p>
              </div>
            </a>
          </li>
          <li class="nav-item nav-category">Main Menu</li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/home'>
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link" routerLink='/purchase'>
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Purchase Order</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/home'>
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Pending Purchase Order</span>
            </a>
          </li-->
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon typcn typcn-document-add"></i>
              <span class="menu-title">Details</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/login.html"> Login </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/register.html"> Register </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                </li>
              </ul>
            </div>
          </li> 
        </ul>
      </nav>
      <div class="main-panel">
            <div class="container" *ngIf ="view">
                <div class="table-responsive">
                    <table class="table">
                      <thead class="mb-3">
                        <tr class="table-dark mb-3">
                          <th scope="col">Rfq-Id</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr class="table mb-3" style="outline: none;"  *ngFor = "let item of list" (click)="action()">
                          <td>{{item.RFQ_detail}}</td>
                          <td>{{item.Product_id}}</td>
                          <td>In Progress</td>
                        </tr>
                      </tbody>            
                    </table>
                  </div>
            </div>

            <div class="container" *ngIf = "!view">
                <form id="feasibility-form" role="form"[formGroup]='feasibilityForm'>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="customer-name">Customer Name</label>
                                    <input id="form-name" type="text" name="customer-name" 
                                    formControlName="Customer_name" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="part-name">Part Name </label>
                                    <input id="part-name" type="text"  formControlName="Part_name"
                                    class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="drawing-number">Drawing Number</label>
                                    <input id="drawing_number" type="text"  formControlName="Drawing_number"
                                    class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="revision-number">Revision Number</label>
                                    <input id="revision-number" type="text"  formControlName="Revision_number" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr style="width: auto; height: 10px;" background-color="silver">
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="drawing-readability">Drawing Readability</label>
                                    <select id="drawing-readability" 
                                    (change)='Drawing_readability($event.target.value)' formControlName="Drawing_readability" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Ok</option>
                                        <option>Not Ok</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isDrawing_readability'  type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dimensional-tolerance">Dimensional Tolerance</label>
                                    <input id="dimensional-tolerance" type="text" name="dimensional-tolerance" formControlName="Dimensional_tolerance"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Casting-material">Casting Material</label>
                                    <select id="Casting-material" name="Casting-material" formControlName="Cast_material" class="form-control">
                                        <option value="" selected disabled>--Grade--</option>
                                        <option>FG200</option>
                                        <option>FG220</option>
                                        <option>FG250</option>
                                        <option>FG260</option>
                                        <option>FG300</option>
                                        <option>SG400-12</option>
                                        <option>SG400-15</option>
                                        <option>SG400-18</option>
                                        <option>SG450-10</option>
                                        <option>SG500-7</option>
                                        <option>SG550-7</option>
                                        <option>SG600-3</option>
                                        <option>SG700-2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="annual-volume">Annual Volume</label>
                                    <input id="annual-volume" type="text" name="annual-volume" formControlName="Annual_volume" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dimensions">Whether All Dimensions Given</label>
                                    <select id="dimensions" name="dimensions" (change)='Whether_all_dimensions_given($event.target.value)' 
                                    formControlName="Whether_all_dimensions_given" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isWhether_all_dimensions_given' type="text" class="form-control"
                                        placeholder="Add new one here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="hardness-required"> Hardness Required</label>
                                    <input id="hardness-required" type="text" name="hardness-required" 
                                    formControlName="Hardness_required" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mould-type">Type of Mould</label>
                                    <select id="mould-type" name="mould-type" (change)='Type_of_mould($event.target.value)' formControlName="Type_of_mould" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>ARPA 300</option>
                                        <option>ARPA 450</option>
                                        <option>High Pressure</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isType_of_mould' type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cavity">NO. of Cavity</label>
                                    <input id="cavity" type="number" name="cavity"
                                    formControlName="No_of_cavity" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Core/Non-Core">Core/Non-Core</label>
                                    <select id="Core/Non-Core" name="Core/Non-Core" (change)='Core_type($event.target.value)'
                                    formControlName="Core_type" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Core</option>
                                        <option>Non-Core</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isCore_type' type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="core-weight">Approx. Core Weight</label>
                                    <input id="core-weight" type="number" name="core-weight"
                                    formControlName="Approx_core_weight" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="coreboxdetails">Core Box Details</label>
                                    <select id="coreboxdetails" name="coreboxdetails" (change)='Core_box_detail($event.target.value)'
                                    formControlName="Core_box_detail" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>CO2</option>
                                        <option>Amine(cold box)</option>
                                        <option>Resin</option>
                                        <option>Oil</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isCore_box_detail' type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Reinforcement">Reinforcement in Core</label>
                                    <select id="Reinforcement" name="Reinforcement" (change)='Reinforcement_in_core($event.target.value)'
                                    formControlName="Reinforcement_in_core" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isReinforcement_in_core'  type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pattern-overall-size">Pattern Overall Size</label>
                                    <input id="pattern-overall-size" type="text" name="pattern-overall-size"
                                       formControlName="Pattern_overall_size" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="minimum-wall-thickness">Minimum Wall Thickness</label>
                                    <input id="minimum-wall-thickness" type="text" name="minimum-wall-thickness"
                                       formControlName="Minimum_wall_thickness" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="casting-weight">Casting Weight</label>
                                    <input id="casting-weight" type="number" name="casting-weight" 
                                    formControlName="Casting_weight" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="casting-weight-per-box">Casting Weight Per Box</label>
                                    <input id="casting-weight-per-box" type="text" name="casting-weight-per-box"
                                      formControlName="Casting_weight_per_box" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="approx-pouring-weight">Approx. Pouring Weight</label>
                                    <input id="approx-pouring-weight" type="text" 
                                       formControlName="Approx_pouring_weight" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="approx-pouring-weight">Unit</label>
                                    <select id="approx-pouring-weight"  (change)='Unit($event.target.value)'
                                    formControlName="Unit" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Kgs</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isUnit'  type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="yield">Yield %</label>
                                    <input id="yield" type="text" name="yield" formControlName="Yield" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="frame-requirement">Frame Requirement</label>
                                    <div class="radio">
                                        <input type="radio"  formControlName="Frame_requirement" value="yes"> yes
                                        <input type="radio"  formControlName="Frame_requirement" value="no"> no
                                    </div>
                                    <!--select id="frame-requirement" name="frame-requirement" class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Add new</option>
                                    </select-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="chill-requirement">Chill Requirement</label>
                                    <select id="chill-requirement" name="chill-requirement" (change)='Chill_requirement($event.target.value)' formControlName="Chill_requirement" class="form-control" placeholder="">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isChill_requirement' type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sleeve">Sleeve/kalpur Requirement</label>
                                    <select id="sleeve" name="sleeve" (change)='Sleeve_kalpur_requirement($event.target.value)' formControlName="Sleeve_kalpur_requirement" class="form-control" placeholder="">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isSleeve_kalpur_requirement'  type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="filter-requirement">Filter Requirement</label>
                                    <select id="filter-requirement" name="filter-requirement" (change)='Filter_requirement($event.target.value)' formControlName="Filter_requirement" class="form-control" placeholder="--Select--">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isFilter_requirement'  type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pattern-material">Pattern Material</label>
                                    <select id="pattern-material" name="pattern-material" (change)='Pattern_material($event.target.value)' formControlName="Pattern_material" class="form-control" placeholder="--Select--">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Wood</option>
                                        <option>Aluminium</option>
                                        <option>Cast Iron</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isPattern_material'  type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fettling-requirement">Fettling Requirement</label>
                                    <input id="fettling-requirement" type="text" name="fettling-requirement"
                                       formControlName="Fettling_requirement" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="coreboxcost">Pattern & Core Box Cost</label>
                                    <input id="coreboxcost" type="text" name="coreboxcost" formControlName="Pattern_core_box_cost" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="surface-coating">Type of Casting Surface Coating</label>
                                    <input id="surface-coating" type="text" name="surface-coating" formControlName="Casting_surface_coating" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="matchplatecost">Match Plate Cost</label>
                                    <input id="matchplatecost" type="text" name="matchplatecost" formControlName="Match_plate_cost" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="surfacetreatmentcost">Surface Treatment Cost(Paint)</label>
                                    <input id="surfacetreatmentcost" type="text" name="surfacetreatmentcost" formControlName="Surface_treatment_cost"
                                        class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="developmentcost">Development Cost</label>
                                    <input id="developmentcost" type="text" name="developmentcost" formControlName="Development_cost" class="form-control"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="PPAP">PPAP Lot Lead Time(After Sample Approval)</label>
                                    <input id="PPAP" type="text" name="PAPP" formControlName="PPAP" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Patterndevelopmenttime">Pattern Development Time</label>
                                    <input id="Patterndevelopmenttime" type="text" name="Patterndevelopmenttime"
                                        class="form-control" formControlName="Pattern_development_time" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Bulk">Bulk Lot Lead Time(After PPAP Approval)</label>
                                    <input id="Bulk" type="text" name="Bulk" class="form-control" formControlName="Bulk_lot_lead_time" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="rejection-level">% Rejection Level Estimation</label>
                                    <input id="rejection-level" type="text" name="rejection-level" class="form-control" formControlName="Rejection_level_estimation">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Heat-treatment-requirement">Heat Treatment Requirement</label>
                                    <select id="Heat-treatment-requirement" (change)='Heat_treatment_requirement($event.target.value)' formControlName="Head_treatment_requirement"
                                        class="form-control">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Add new</option>
                                    </select>
                                    <input *ngIf='isHeat_treatment_requirement'  type="text" class="form-control" placeholder="Add here">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="delivery-type">Delivery Type</label>
                                    <input id="delivery-type" type="text" name="delivery-type" class="form-control" formControlName="Delivery_type">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="conclusion">Conclusion</label>
                                    <select id="conclusion" name="conclusion" class="form-control" formControlName="Conclusion">
                                        <option value="" selected disabled>--Select--</option>
                                        <option>Feasible</option>
                                        <option>Not Feasible</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Details">Part No, Customer Name, Supplier Identification, Heat No Provision
                                        Details</label>
                                    <textarea id="Details" name="Details" formControlName="Not_feasible_reason" class="form-control" placeholder="" rows="4"
                                        required="required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="BFC-constraints">BFC Constraints</label>
                                    <textarea id="BFC-constraints" name="BFC-constraints" formControlName="BFC_constraints" class="form-control" placeholder=""
                                    rows="4" required="required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"> 
                                    <label for="comments">Comments If Any</label> 
                                    <textarea id="comments" name="comments" class="form-control" formControlName="Comments" placeholder=""
                                    rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"> <label for="form_message">Customer Special Requirements</label> 
                                    <textarea id="form_message" name="message" class="form-control" formControlName="Customer_special_requirement" placeholder=""
                                    rows="4" required="required" data-error="Please, leave us a message."></textarea>
                                </div>
                            </div>
                             <div class="col-md-2"> 
                                <button class="btn btn-success btn-send pt-2 btn-block" (click)='submit()'>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        


      </div>
    </div>
  </div>
  <script src="assets/vendors/js/vendor.bundle.base.js"></script>
  
  